/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main);
  font-variation-settings: "wght" var(--variative-font-text);
  background-image: var(--img-bg);
  background-size: cover;
  background-attachment: fixed;
  margin-block: 100px;
}
.header {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: #fff;
  width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  border: solid #000 2px;
  padding-block: clamp(7.625rem, 7.4489rem + 0.7512vw, 8.125rem);
  text-align: center;

  margin-block-end: 95px;
}
.header_logo {
  font-family: var(--font-accent);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
  justify-content: center;
}
.header_title {
  font-family: var(--font-accent);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  margin-block-start: 20px;
  text-transform: uppercase;
  line-height: 1;
}
.card {
  width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  margin: auto;
  background-color: #fff;
  margin-block-end: 49px;
  border: solid 2px #000;
}
.card__title {
  font-family: var(--font-main);
  font-weight: var(--weight-title);
  font-size: 18px;
  padding: 4px 10px;
}
.card__img {
  position: relative;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.image {
  inline-size: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: right;
  display: block;
}
.watermark {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--font-accent);
  text-shadow: -1 0 var(--color-bg, rgba(255, 255, 255, 1)),
    0 1px var(--color-bg, rgba(255, 255, 255, 1)),
    1px 0 var(--color-bg, rgba(255, 255, 255, 1)),
    0 -1px var(--color-bg, rgba(255, 255, 255, 1));
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  opacity: 50%;
  mix-blend-mode: hard-light;
}
@supports (
  (text-stroke: 1px var(--color-bg, rgba(255, 255, 255, 1))) or
    (-webkit-text-stroke: 1px var(--color-bg, rgba(255, 255, 255, 1)))
) {
  .watermark {
    -webkit-text-stroke: 1px var(--color-bg, rgba(255, 255, 255, 1));
    text-stroke: 1px var(--color-bg, rgba(255, 255, 255, 1));
    text-shadow: none;
  }
}
.card__text {
  display: flex;
  flex-direction: column;
  gap: 26px;
  font-family: var(--font-main);
  font-weight: var(--weight-main);
  font-size: 18px;
  padding-inline: 25px;
  padding-block-start: 25px;
  line-height: 21px;
  font-style: normal;
  letter-spacing: 0%;
}
.card__like-button {
  position: relative;
  overflow: hidden;
  inline-size: 130px;
}
.card__like-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}
.card__like-button:hover::before {
  transform: translateX(0%);
}
.button {
  background-color: transparent;
  border: 2px solid black;
  cursor: pointer;
}
.btn__effect {
  box-shadow: none;
  transition: box-shadow 0.3s ease;
}
.btn__effect:focus {
  outline: none;
  box-shadow: 2px 2px black;
}
.buttons {
  display: flex;
  margin-block: 25px;
  justify-content: right;
  margin-inline-end: 25px;
}
.button__text {
  font-family: var(--font-accent);
  font-size: 14px;
  font-weight: 400;
  line-height: 90%;
  z-index: 1;
  position: relative;
  color: #fff;
  mix-blend-mode: difference;
}
.card__icon-button {
  border: 2px solid transparent;
  block-size: 38px;
  inline-size: 38px;
  margin-inline-end: 8px;
  transition: border 0.3s ease;
}
.like-icon {
  block-size: 36px;
  inline-size: 39px;
  cursor: pointer;
  transform-origin: center;
  overflow: visible;
}
.card__icon-button:focus {
  outline: none;
}
.card__icon-button:focus-visible {
  border-color: #000;
  outline: none;
}
.grayscale {
  filter: grayscale(70%);
}
.saturate {
  filter: saturate(500%);
}
.hue-rotate {
  filter: hue-rotate(30deg);
}
.invert {
  filter: invert(100%);
}
.sepia {
  filter: sepia(90%);
}
.blur {
  filter: blur(10px);
}
.hue {
  filter: hue-rotate(90deg) blur(3px) saturate(0.5) contrast(60%)
    brightness(110%) saturate(180%);
}
.button__save {
  display: flex;
  justify-content: center;
}
.memory-save-button .button__text {
  padding-inline: 0;
}
.memory-save-button {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 15px 20px 13px;
  border: 2px solid #000;
  margin-block-end: 10px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.icon {
  position: relative;
  mix-blend-mode: difference;
  color: #fff;
}
.memory-save-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}
.memory-save-button:hover::before {
  transform: translateX(0%);
}
.popup {
  max-inline-size: 353px;
  padding: 30px;
}
.popup::backdrop {
  opacity: 0.75;
  background-color: rgba(0, 0, 0, 1);
}
.content__popup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.popup__text {
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 1.5;
  flex: 1;
  text-transform: uppercase;
}
.popup__icon {
  margin-block: 12px;
}
.form {
  padding-block-start: 30px;
}
.popup__close {
  padding-block-start: 12.5px;
  padding-block-end: 12.5px;
  text-transform: uppercase;
  inline-size: 100%;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  outline: none;
}
.button__icon {
  max-width: 21px;
  height: auto;
  mix-blend-mode: difference;
  color: #fff;
}
.popup__close::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}
.popup__close:hover::before {
  transform: translateX(0%);
}
.sparks {
  opacity: 0;
}
.contour {
  transition: fill 0.1s 0s linear;
}
.core {
  transition: fill 0.3s 0.03s linear;
}
.like-icon:hover .core {
  fill: var(--contour-color);
  transition: 0.3s linear 0s;
}
.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: 0.3s linear 0s;
}
.main-body {
  transition: fill linear 0.3s 0s;
}
.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: 0.3s linear 0.05s;
}
.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: 0.3s linear 0.05s;
}
.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: 0.3s linear 0s;
}
.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: 0.3s linear 0.05s;
}
.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: 0.3s linear 0.06s;
}
.like-icon.is-liked .heart {
  animation: scaleHeart 0.3s ease-in 0.1s;
  transform-origin: center;
}
.like-icon.is-liked .sparks {
  animation: opacitySparks 0.3s ease-in 0.3s;
}

@media (width <= 375px) {
  .memory-save-button {
    min-height: 84px;
  }
  .popup__close {
    margin-inline: 40px;
  }
  .popup {
    max-inline-size: 306px;
  }
}
